<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.jku.se.timetrackerfrontend">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.RegisterActivity" />
        <activity android:name=".timeEntry.ManualEntryActivity" />
        <activity android:name=".timeEntry.AutoEntryActivity"/>
        <activity android:name=".timeEntry.EditEntryDetailActivity"/>
        <activity android:name=".timeEntry.EditEntryActivity"/>
        <activity android:name=".project.ManageProjectActivity"/>
        <activity android:name=".project.CreateProjectActivity"/>
        <activity android:name=".project.ManageCategoryActivity"/>
        <activity android:name=".project.ManageProjectTeamActivity"/>
        <activity android:name=".report.ProjectReportActivity" />
        <activity android:name=".report.UserReportActivity" />
        <activity android:name=".user.SettingsActivity"/>
    </application>

</manifest>